body {
    font-family: "Poppins", sans-serif;
    color: #004AAD;
    margin-inline: 2%;
}

.container {
    
    display: flex;
    margin-inline: 15%;
    justify-content: center;
    align-items: center;
}

.scroll {
    display: flex;
    gap: 10px;
    width: 90%;
    overflow-x: auto;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.wrap {
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    gap: 10px;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    flex: 1;
    transition: 0.2s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card:nth-child(1) {
    background-image: url(tlp/gameLP.gif);
}

.card:nth-child(2) {
    background-image: url(tlp/game1.gif);
}

.card:nth-child(3) {
    background-image: url(tlp/game2.gif);
}
.card:nth-child(4) {
    background-image: url(tlp/game3.gif);
}

.card:hover {
    flex:5;
}

.IBG {
    border-radius: 30px;
    object-fit: cover;
    height: 400px;
    width: 180px;
}

.IBG-mock-up {
    height: 500px;
    width: 250px;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    color: #004AAD;
    text-decoration: none;
}


main {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: #FF9900;
    margin: 2% 0 2%;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 2%;
}

h5 {
    font-size: 12px;
    font-weight: 300;
    color: #004AAD;
    font-style: italic;
    margin: 0;
}

.margin-big {
    margin: 15%;
}

.margin-small {
    margin: 2%;
}

.titles {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 500px;
}

.yellow {
    color: #FF9900;
    border: solid #FF9900;
}

.blue {
    color: #004AAD;
    border: solid #004AAD;
}

.square {
    
    height: 150px;
    width: 150px;
    background-color: rgb(225, 229, 233);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin: 0.5%;
    object-fit: cover;
}

.portrait {

    width: 150px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

.landscape {
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 30px;
}

.large {
    border-radius: 30px;
    object-fit: cover;
    height: 200px;
    width: 450px;
    margin: 0.5%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    margin-inline: 15%;
    justify-content: space-between;
}

.header-container {
    width: 100%;
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1;
}

.end {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}



footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    height: 150px;
    width: 150px;
}

.auto {

    max-height: 100%;
    max-width: 100%;
}

.img-elements {
    height: 38px;
    width: 38px;
    border-radius: 30px;
}

.category {
    display: inline-block;
    border-radius: 20px;
    padding: 5px;
}

.btn {
    color: white;
    display: inline-block;
    border-radius: 20px;
    background-color: #004AAD;
    padding: 10px;
    margin: 2%;
}

.btn:hover {
    background-color: #FF9900;
    font-size: 20px;
    transition: ease 0.3s;
}

.subtitles {
    width: 300px;
    height: auto;
}

.carousel {
    display: flex;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scroll-content {
    position: relative;
    display: flex;
    animation: scroll 10s linear infinite;
    z-index: -1;
}

.scroll-content:hover {
    animation-play-state: paused;
}

.right {
    animation: scroll-right 10s linear infinite;
}


/* Keyframes for scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(5%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(5%);
    }

    100% {
        transform: translateX(-5%);
    }
}

.tlp-screenshots img:hover {
    width: 400px;
    height: 250px;
    transition: ease 0.3s;
}

@media (min-width:901px) {

    .scroll {
        display: none;
    }

}

@media (min-width:601px) and (max-width: 900px) {

    .scroll-container {
        display: none;
    }

}

@media (min-width:360px) and (max-width: 600px) {

    *{
        margin: 0px;
    }

    .scroll-container {
        display: none;
    }

    .square {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }
    
    .resume {
        flex-wrap: wrap;
    }

    .header-container {
        display: none;
    }

    .IBG, .IBG-mock-up {
        height: 300px;
        width: 150px;
        border-radius: 10px;
    }

    .in-between-game {
        width: 100%;
        overflow-x: auto;
    }
}